@model TokuCinema.Models.Region

@Html.DropDownList("RegionTypeId", null, htmlAttributes: new { @class = "form-control"})
<button type="button" class="btn btn-default" onclick="regionFactory.addChild()">Add</button>
<button type="button" class="btn btn-default" onclick="regionFactory.restart()">Restart</button>