@model TokuCinema.Models.VideoVersionType


@Html.DropDownList("VideoVersionTypeId", null, htmlAttributes: new { @class = "form-control" })
@*<button type="button" class="btn btn-default" onclick="addVersion()">Add</button>
    TODO: versionFactory needed as prefix... fix in the future
*@
<button type="button" class="btn btn-default" onclick="versionFactory.addChild()">Add</button>
<button type="button" class="btn btn-default" onclick="versionFactory.cancel()">Cancel</button>
<button type="button" class="btn btn-default" onclick="versionFactory.restart()">Restart</button>