@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Home Page";
}
    <div id="home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

                            <div class="carousel-inner">
                                <div class="item active">

                                    <h3>
                                        We have all the shit on Godzilla, and some of the other monsters
                                    </h3>
                                    <p>
                                        Lorem ipsumdolor sitamet, consect adipiscing elit
                                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                                        Lorem ipsumdolor sitamet, consect adipiscing elit
                                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                                    </p>
                                </div>
                                <div class="item">
                                    <h3>
                                        Check out our totally unbiased reviews...
                                    </h3>
                                    <p>
                                        Lorem ipsumdolor sitamet, consect adipiscing elit
                                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                                        Lorem ipsumdolor sitamet, consect adipiscing elit
                                        Lorem ipsumdolor sitamet, consect adipiscing elit.
                                    </p>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                        <h2>
                            Godzilla your ass off!
                        </h2>
                        <div class="form-group-sm ui-widget">
                            <input id="tagsHome" class="form-control" placeholder="Search..." style="width: 200px; margin-left:auto; margin-right:auto;">
                        </div>

                        <a href="#services" class="btn button-custom btn-custom-two smallTopMargin">Core Content <span class="glyphicon glyphicon-chevron-down"/></a>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--HOME SECTION END-->
        <!--SERVICE SECTION START-->
        <section id="services" class="mediumTopMargin">
            <div class="container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                        <h3>Our Core Content</h3>
                        <hr />
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-document"></i>
                            <h3> Media Release Data </h3>
                            Morbi mollis lectus et ipsum sollicitudin varius.
                            Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-clipboard"></i>
                            <h3> Reviews </h3>
                            Morbi mollis lectus et ipsum sollicitudin varius.
                            Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-erlenmeyer-flask"></i>
                            <h3> Other Features </h3>
                            Morbi mollis lectus et ipsum sollicitudin varius.
                            Aliquam tempus ante placerat, consectetur tellus nec, porttitor nulla.
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="row text-center header">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        <a href="#work" class="btn button-custom btn-custom-two">Most Popular Items <span class="glyphicon glyphicon-chevron-down"></span></a>
        
    </div>
</div>
        <!--SERVICE SECTION END-->
    
        <!-- About -->

<!--WORK SECTION START-->
<section id="work" class="mediumTopMargin">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Most Popular Items</h3>
                <hr />
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="caegories">
                    <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>
                    <a href="#" data-filter=".html" class="btn btn-custom btn-custom-two btn-sm">Release Info</a>
                    <a href="#" data-filter=".css" class="btn btn-custom btn-custom-two btn-sm">Reviews</a>
                    <a href="#" data-filter=".code" class="btn btn-custom btn-custom-two btn-sm">Video Clips</a>
                    <a href="#" data-filter=".script" class="btn btn-custom btn-custom-two btn-sm">Image Comparison</a>
                </div>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Gojira_1954_Japanese_poster.jpg/330px-Gojira_1954_Japanese_poster.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Gojira_1954_Japanese_poster.jpg/330px-Gojira_1954_Japanese_poster.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html css">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/en/6/6d/GodzillaBiollante.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/en/6/6d/GodzillaBiollante.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 code script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/en/1/10/Godzilla_%282014%29_poster.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/en/1/10/Godzilla_%282014%29_poster.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/GVMGII.jpg/330px-GVMGII.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/GVMGII.jpg/330px-GVMGII.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/en/5/5e/Godzilla1985.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/en/5/5e/Godzilla1985.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="https://upload.wikimedia.org/wikipedia/en/c/c2/Godzillamothra1992.jpg">

                        <img src="https://upload.wikimedia.org/wikipedia/en/c/c2/Godzillamothra1992.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
        </div>
        <a href="#contact" class="btn button-custom btn-custom-two">Contact </a>
    </div>
</section>

<div class="row text-center header smallTopMargin">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        @Html.ActionLink(" Continue to About Page ", "About", "Home", new { @class = "btn button-custom btn-custom-two" })
    </div>
</div>

<!--WORK SECTION END-->